<section id="main-hero" class="hero is-halfheight"> 
    <div class="container "> 
        <h2 id="main-hero-text" class="title is-size-1"> 
        Ready. <br> Set. <br> Plan. 
        </h2>
    
    </div>
</section>

<section id="events-container" class=section>
    <div class="container">
        <h2 class="title is-3">Upcoming Events</h2>
            <div class="columns is-multiline is-variable is-5">

                <% @events.each do |event| %>

                    <div class="column is-one-quarter">
                        <div class="card">
                            <%= link_to event do %>
                                <div class="card-image">
                                    <figure class="image is-16by9">
                                        <% if event.image.attached? %>
                                            <%= image_tag(event.image) %>
                                        <% else %>
                                            <img src="https://bulma.io/images/placeholders/1280x960.png" alt="placeholder">
                                        <% end %>
                                    </figure>
                                </div>
                                <div class="card-content">
                                    <div class="content">
                                        <p class="has-text-weight-semibold is-size-6 event-title"> <%= event.title %> </p>
                                        <p class="event-date has-text-danger has-text-weight-medium"> <%= event.date.strftime("%a, %b %d,") %> <%= event.time.strftime("%I:%M %p") %> </p>
                                    <% end %>

                                    <p class="has-text-grey"> <%= event.location %> </p>
                                    <p class="has-text-weight-semibold mt-3 "> <%= event.creator.name %> </p>
                                </div>
                            </div>
                        </div>
                    </div>

                <% end %>
            </div>
    </div>
</section>

