<!DOCTYPE html>
<html>
  <head>
    <title>PrivateEvents</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <% if flash[:notice] %>
      <div class="notification is-primary ">
        <button class="delete"></button>
        <p class="notice"> <%= notice %> </p>
      </div>
    <% end %>

    <% if flash[:alert] %>
      <div class="notification is-danger ">
        <p class="alert"> <%= alert %> </p>
      </div>
    <% end %>

      <% unless controller_name == 'registrations' && controller.action_name != 'edit' || controller_name == 'sessions' && controller.action_name != 'create' %>

        <nav class="navbar is-white">
          <div class="navbar-brand">
            <%= link_to root_path, class: "navbar-item" do %>
              <h1 class="title is-4"> Eventlite </h1>
            <% end %>
          </div>

          <div class="navbar-menu">
            <div class="navbar-end">
              <div class="navbar-item">
                <div class="field is-grouped">
                  <% if user_signed_in? %>
                    <%= link_to 'Create Event', new_event_path, class: "button is-danger control" %>
                   
                  <% else %>
                    <%= link_to "Sign In", new_user_session_path, class: "button is-white control" %>
                    <%= link_to "Sign Up", new_user_registration_path, class: "button is-danger is-light control" %>
                  <% end %>
                  
                </div>
              </div>

              <% if user_signed_in? %>
                <div class="navbar-item has-dropdown is-hoverable">
                  <a class="navbar-link">
                      <% if current_user.image.attached? %>
                        <%= image_tag current_user.image, class: "navbar-profile-img" %>
                      <% else %>
                        <img class="is-rounded" src="https://img.icons8.com/ios-glyphs/60/000000/user--v1.png"/>
                      <% end %>
                    
                  </a>

                  <div class="navbar-dropdown is-right">
                    <%= link_to 'Profile', user_path(current_user.id), class:"navbar-item" %>

                    <%= link_to 'Settings', edit_user_registration_path, class:"navbar-item" %>
                    
                    <hr class="navbar-divider">
                    <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class:"navbar-item" %>
                  </div>

                </div>
              <% end  %>
              
              
            </div>
          </div>
        </nav>
      <% end %>

    



    <%= yield %>
  </body>
</html>
